# Ignore everything by default
*
# But descend into all directories so we can selectively un-ignore them with nested .gitignore files
!*/

# Keep essential configuration and docs
!.gitignore
!README.md
!ignore.json
!flutter_skills_ignore.json
